{% ckan_extends %}

    {% block page_header %}
      <h1 class="dashboard-header">{{ _('My Dashboard') }}</h1>
      <div class="module-content page-header hug">
        <div class="content_action">
          {% link_for _('Edit'), named_route='datavicuser.edit', id=user.name, class_='btn', icon='cog' %}
        </div>
        <ul class="nav nav-tabs">
          {% if h.check_access('package_create') %}
           
            {{ h.build_nav_icon('dashboard.datasets', _('My datasets'), icon='sitemap') }}
            {{ h.build_nav_icon('dashboard.organizations', _('My organizations')) }}
            {{ h.build_nav_icon('dashboard.groups', _('My groups')) }}
            {{ h.build_nav_icon('dashboard.index', _('Activity stream')) }}
            {% if h.check_access('user_dashboard_reports') %}
            {{ h.build_nav_icon('reporting.reports', _('Reports')) }}         
            {% endif %}
            {% if h.check_access('user_report_schedules') %}        
              {{ h.build_nav_icon('scheduling.schedules', _('Report schedules')) }}
            {% endif %}
          {% else %}
            {{ h.build_nav_icon('dashboard.organizations', _('My organizations')) }}  
            {{ h.build_nav_icon('dashboard.index', _('Activity stream')) }}
          {% endif %}
        </ul>
      </div>
    {% endblock %}

    {% block primary_content_inner %}
      <div data-module="dashboard">
        <h2 class="page-heading">
          {% block page_heading %}
            {{ _('News feed') }}
          {% endblock %}
          <small>{{ _("Activity from items that I'm following") }}</small>
        </h2>
        {% block activity_stream %}
          {% snippet 'snippets/activity_stream.html', activity_stream=dashboard_activity_stream, id=id, object_type='user' %}
        {% endblock %}
      </div>
    {% endblock %}