{% ckan_extends %}

    {% block page_header %}
      <header class="dashboard module-content page-header hug">
        <div class="content_action">
          {% link_for _('Edit'), controller='user', action='edit', id=user.name, class_='btn', icon='cog' %}
        </div>
        <ul class="nav nav-tabs">
          {% if h.check_access('package_create') %}
            <li class="{% if h.current_url () == '/dashboard' %}active{% endif %}">
              <a href="/dashboard"><i class="fa fa-sitemap"></i>{{_('My datasets')}}</a>
            </li>
            {{ h.build_nav_icon('dashboard.organizations', _('My organizations')) }}
            {{ h.build_nav_icon('dashboard.groups', _('My groups')) }}
            {{ h.build_nav_icon('dashboard.index', _('Activity Stream')) }}
            {% if h.check_access('user_dashboard_reports') %}
            {{ h.build_nav_icon('reporting.reports', _('Reports')) }}         
            {% endif %}
            {% if h.check_access('user_report_schedules') %}        
              {{ h.build_nav_icon('scheduling.schedules', _('Report schedules')) }}
            {% endif %}
          {% else %}
            <li class="{% if h.current_url () == '/dashboard' %}active{% endif %}">
              <a href="/dashboard/organizations"><i class="fa fa-sitemap"></i>{{_('My organizations')}}</a>
            </li>
            {{ h.build_nav_icon('dahsboard.index', _('Activity Stream')) }}
          {% endif %}
        </ul>
      </header>
    {% endblock %}

    {% block primary_content_inner %}
      <div data-module="dashboard">
        <h2 class="page-heading">
          {% block page_heading %}
            {{ _('News feed') }}
          {% endblock %}
          <small>{{ _("Activity from items that I'm following") }}</small>
        </h2>
        {% block activity_stream %}
          {{ c.dashboard_activity_stream }}
        {% endblock %}
      </div>
    {% endblock %}
