{% ckan_extends %}

{% block help_register %}
    <section class="module module-narrow module-shallow">
    {% block help_register_inner %}
        <h2 class="module-heading">{{ _('Request Access') }}</h2>
        <div class="module-content">
            <p>{% trans %}Available to Victorian public servants only{% endtrans %}</p>
            <p class="action">
            {% block help_register_button %}
            <a class="btn" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Request Access') }}</a>
            {% endblock %}
            </p>
        </div>
    {% endblock %}
    </section>
{% endblock %}
