{% ckan_extends %}

{% block breadcrumb_content %}
  {{ h.build_nav('user.index', _('Users')) }}
  {% if h.check_access('package_create') %}
    {{ h.build_nav('user.read', user.display_name|truncate(35), id=user.name) }}
  {% else %}
    {{ h.build_nav('activity.user_activity', user.display_name|truncate(35), id=user.name) }}
  {% endif %}
{% endblock %}

{% block content_action %}
  {% if h.check_access('user_update', user) %}
    {% link_for _('Edit'), named_route='datavicuser.edit', id=user.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {% if h.check_access('package_create') %}
    {{ h.build_nav_icon('user.read', _('Datasets'), id=user.name) }}
    {{ h.build_nav_icon('activity.user_activity', _('Activity Stream'), id=user.name) }}
  {% else %}
    {{ h.build_nav_icon('activity.user_activity', _('Activity Stream'), id=user.name) }}
  {% endif %}
{% endblock %}

{% block user_nums %}

{% endblock %}

{% block user_follow %}
  {% if h.check_access('package_create') %}
    <div class="follow_button">
      {{ h.follow_button('user', user.id) }}</li>
    </div>
  {% endif %}
{% endblock %}

{% block user_image %}

{% endblock %}

{% block user_info %}
<div class="info">
  <dl>
    {% if user.name.startswith('http://') or user.name.startswith('https://') %}
      <dt>{{ _('Open ID') }}</dt>
      <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
    {% else %}
      <dt>{{ _('Username') }}</dt>
      <dd>{{ user.name }}</dd>
    {% endif %}
  </dl>
  {% if is_myself %}
    <dl>
      <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
      <dd>{{ user.email }}</dd>
    </dl>
  {% endif %}
  <dl>
    <dt>{{ _('Member Since') }}</dt>
    <dd>{{ h.render_datetime(user.created) }}</dd>
  </dl>
  <dl>
    <dt>{{ _('State') }}</dt>
    <dd>{{ _(user.state) }}</dd>
    {% if h.is_user_account_pending_review(user.id) and h.check_access('sysadmin') %}
      <dd><a class="btn btn-warning" href="{{ h.url_for('datavicuser.approve', id=user.id)}}">Approve</a></dd>
      <dd><a class="btn btn-danger" href="{{ h.url_for('datavicuser.deny', id=user.id)}}">Deny</a></dd>
    {% endif %}
  </dl>
  {% if is_myself and h.check_access('sysadmin') %}
    <dl>
      <dt class="key">{{ _('API Key') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
      <dd class="value"><code>{{ user.apikey }}</code></dd>
    </dl>
  {% endif %}
{% endblock %}
