{#
Renders the login form.

action        - The url that the form should be submitted to.
error_summary - A tuple/list of form errors.

Example:

  {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}

#}
{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

{# TODO: drop debug condition #}
{% if g.action == "logged_in" %}
    <div class="sdp-alert sdp-alert-danger alert">
        <svg data-v-75058d3a="" viewBox="0 0 20 20" aria-hidden="true" overflow="visible" class="rpl-icon rpl-icon--alert_information rpl-icon--color_danger" style="width: 20px; height: 20px;"><!----> <path d="M11.667 10a1.667 1.667 0 11-3.334 0V5a1.667 1.667 0 013.334 0v5zM10 16.667a1.67 1.67 0 01-1.54-2.306A1.667 1.667 0 1110 16.667zM0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10z"></path> </svg>

        <div class="sdp-alert__content">
        <h4 class="heading">
            {{ _("There is an error with your request:") }}
        </h4>
        <ul class="error-list">
            <li>
                {% trans %}
                There was a problem with your login request. This is due to
                incorrect login credentials or because your account can only be
                accessed through Single Sign-On. Please try again or use the
                Single Sign-On button below to access the Data Directory.
                {% endtrans %}

            </li>
        </ul>
        </div>
    </div>
{% endif %}


<form action="{{ action }}" method="post" class="form-horizontal">
  {{ form.errors(errors=error_summary) }}

  <div class="sso-block">
    {% block oidc_login_button %}
      <div class="sso-block-button">
        <a href="{{ h.url_for("oidc_pkce.login", came_from=request.path ~ '?__no_cache__=True') }}" class="btn btn-primary">
          {{ _("Access VPS Data Directory using Single Sign-On") }}
        </a>
      </div>
    {% endblock %}

    <div class="sso-block--info">
      <span class="info--icon">
        {% include 'snippets/svg/info.svg' %}
      </span>
      <span class="info--text">
        {% trans %}
          The VPS Data Directory has introduced Single Sign-On (SSO)
          access. If you have an account, you can now access the VPS
          Data Directory via the SSO button above and use your
          work Microsoft Office email to login. Find out more,
          <a href="https://www.data.vic.gov.au/information-data-publishers">including who is eligible, here.</a>
        {% endtrans %}
      </span>
    </div>
  </div>

  <div class="division-line">
    <span>{{ _('Or') }}</span>
  </div>

  <div class="block-details">
      <p>
          {{ _('Access the VPS Data Directory using your login details.') }}
      </p>
  </div>


  {{ form.input('login', label=_("Username"), id='field-login', placeholder="Username", value="", error=username_error, classes=["control-medium"], autocomplete="username") }}

  {{ form.input('password', label=_("Password"), id='field-password', placeholder="Enter password", type="password", value="", error=password_error, classes=["control-medium"], autocomplete="current-password") }}

  <div class="control-group hidden">
    <div class="controls">
      <label class="rpl-checkbox" for="field-remember" data-module="datavic-checkbox">
        <input type="checkbox" id='field-remember' name="remember" checked=true, value="63072000" />
        <span class="rpl-checkbox__box rpl-checkbox__box--checked">
          <img src="/assets/icons/rpl_icon_tick.svg" class="rpl-icon rpl-icon--tick rpl-icon--color_primary" style="width:11px;height:11px;" alt="">
        </span>
        <span class="rpl-checkbox__inline-label">{{ _("Remember me") }}</span>
      </label>
    </div>
  </div>

    <div class="password-reset">
      <span>
        <a href="{{ h.url_for('user.request_reset') }}">{{ _('Forgotten your password?') }}</a>
      </span>
    </div>

  <div class="form-actions">
    {% block login_button %}
      <div class="sign-up">
        <span>
        {{ _('Don t have an account yet?') }} <a href="{{ h.url_for('user.register') }}">{{ _('Sign up here.') }}</a>
        </span>
      </div>
      <button class="btn btn-primary" type="submit">{{ _('Login') }}</button>
    {% endblock %}

  </div>
</form>
