body {
  color: rpl-color('extra_dark_neutral');
}

.module-content {
  h1 {
    font-family: "Vic-Bold", arial, sans-serif;
    font-size: rem(28px);
    padding-top: rem(16px);
  }
  .resources {
    h3 {
      padding-top: rem(16px);
    }
  }
  .notes.embedded-content {
    h2 {
      font-size: rem(20px);
    }
    h3 {
      font-size: rem(18px);
    }
    h3 {
      font-size: rem(16px);
    }
  }
}

.additional-info,
.dataset-contact {
  h3 {
    padding: rem(16px) 0;
  }
}

h2 {
  font-size: rem(24px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@each $color-name, $color-value in $rpl-colors {
  .rpl-icon--color_#{str-replace($color-name, ' ', '-')} {
    fill: rpl-color($color-name);
  }
}

$nav-tab-icon-color: rpl-color('primary') !default;
.nav.nav-tabs i.fa {
  color: $nav-tab-icon-color
}

$nav-tab-a-color: rpl-color('mid_neutral_4') !default;
.nav.nav-tabs a {
  color: $nav-tab-a-color
}

.block-search-title {
  color: rpl-color('dark_primary');
}

.account-masthead {
  background: none;
  background-color: rpl-color('mid_neutral_1');
  .account {
    ul {
      li {
        border-color: #bfc5cd;
        a {
          color: rpl-color('dark_neutral');
        }
      }
    }
  }
}

.dashboard {
  .nav-tabs {
    > li {
      > a {
        &:hover {
          border: 1px solid rpl-color('mid_neutral_1');
        }
        color: #6A778A;
        i {
          padding-right: 6px
        }
      }
    }
  }

  @include rpl-breakpoint(m) {
    .nav-tabs {
      font-size: .765rem;
    }
  }
  @include rpl-breakpoint(l) {
    .nav-tabs {
      font-size: .85rem;
    }
  }
  @include rpl-breakpoint(m) {

    &.page-header {
      background-color: rpl-color('white');
      border: 1px solid rpl-color('mid_neutral_1');
      height: rem(36px);
      position: relative;
    }
    .nav-tabs {
      padding-left: rem(25px);
      position: absolute;
      border-bottom: none;
      bottom: 1px;
      left: 0;

      > li {
        > a {
          border: 1px solid rpl-color('mid_neutral_1');
          border-bottom-color: transparent;
          border-left: none;
          margin-right: 0;

          &:hover {
            border-bottom: 1px solid rpl-color('mid_neutral_1');
          }
        }

        &.active {
          > a {
            font-family: "Vic-Bold", arial, sans-serif;

            &:hover {
              border: 1px solid rpl-color('mid_neutral_1');
              border-bottom-color: transparent;
              border-left: none;
            }
          }
        }

        &:first-child {
          > a,
          > a:hover {
            border-left: 1px solid rpl-color('mid_neutral_1');
          }
        }
      }
    }

  }
}

.sdp-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;

    margin-left: -40px;
    margin-right: -40px;
    @media (max-width: 767px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .rpl-icon {
        min-width: 25px;
        min-height: 25px;
        margin-inline-end: 10px;
    }

    &-danger {
        color: rpl-color('danger');
        border-color: rpl-color('danger');
        background: #f9f0f0;

        .error-list {
            padding-inline-start: 30px;
        }

    }
    &-success {
        color: #027a83;
        border-color: #027a83;
        background: #edf6f6;

        .rpl-icon {
            fill: #027a83;
        }
    }

}
