.dataset-contact {
  form {
    label {
      &:after {
        content: "";
      }
    }

    .form-label {
      float: none;
      width: auto;
    }

    .controls {
      margin-left: 0;
    }
  }

  .form-controls {
    margin-bottom: rem(14px);
  }

  .privacy-statement {
    font-size: rem(14px);
    line-height: 1.3rem;
    padding-top: rem(14px);

    label {
      font-weight: normal;
    }

    input[type="checkbox"] {
      margin-top: 3px;
    }
  }
}
