.select2-search-choice-close, .select2-container-multi .select2-search-choice-close {
  top: 5px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 5px 5px 5px 18px !important;
  margin-left: 12px !important;
}
