
.report-options {
    display: none;
}

.reporting-form-center {
    .form-actions {
      border: none;
    }
    @include rpl_breakpoint('s') {
      width: 80%;
      margin-left: 10%;
      .form-horizontal {
        .form-label {
          width: 25%;
          float: left;
        }
        .controls {
          width: 73%;
          margin-left: 27%;
          select {
            width: auto;
          }
        }
      }
      .form-actions {
        text-align: left;
        margin: 0 0 0 27%;
        padding: 0;
      }
    }
}

.form-horizontal {
  &.report {
    .form-label {
      width: 120px;
      float: left;
    }

    .controls {
      margin-left: 130px;
      width: 210px;
    }
  }
}
