$dataset-item-text-color: rpl-color('extra_dark_neutral') !default;

.dataset-resources {
  margin-top: rem(12px);

  li {
    a {
      &.label {
        font-family: "Vic-Medium", arial, sans-serif;
        font-weight: normal;
        background-color: transparent !important;
      }
    }
  }

}

.dataset-item {
  border-bottom: none;
  border-top: 1px solid rpl-color('mid_neutral_1');
  padding: rem(32px) 0 0 0;
  margin: rem(32px) 0 0 0;

  h3 {
    &.dataset-heading {
      margin-bottom: rem(12px);
      margin-top: rem(24px);
    }
  }

  .dataset-content .dataset-heading > a, .dataset-content div {
    color: $dataset-item-text-color;
  }

  .dataset-private.badge.bg-secondary {
    background-color: #000 !important;
    font-size: .75rem;
    padding: 2px 4px;
    border-radius: 0.25rem;
  }

  .privacy-label {
    background-color: rpl-color('mid_neutral_1');
    display: inline-block;
    font-size: rem(15px);
    margin-bottom: 0;
    padding: rem(3px) rem(8px);
    &.private {
      background-color: rpl-color('light_primary_2');
    }
  }

  h4 {
    &.search-result-organisation {
      font-family: "Vic-Medium", arial, sans-serif;
      font-size: rem(18px);
      margin: rem(12px) 0;
      a {
        color: rpl-color('dark_neutral');
      }
    }
  }
}

.dataset-heading {
  font-size: rem(24px);
}

.order-by {
  &.rpl-search-form__filters {
    padding-top: rem(30px);
  }
  .vue-form-generator {
    .form-group {
      margin-bottom: 0;
    }
    label,
    .pseudo-label {
      @include rpl_typography_ruleset(('s', 1em, 'bold'));
      color: rpl-color('extra_dark_neutral');
      display: block;
      margin-bottom: $rpl-space-3;
    }
  }
}
