{% ckan_extends %}

{% set confirmation_text = _('You will now enter edit mode. By saving any changes the workflow status for this dataset will transition to DRAFT. Are you sure you want to edit this dataset?') %}

{% block content_action %}
  {% asset 'datavic_iar_theme/datavic-iar-confirm-link-action' %}

  {% if h.is_dataset_harvested(pkg.id) %}
    {% set harvest_text = 'Harvest Data' if h.check_access('sysadmin') else 'Harvest Data - Read Only'%}
    {% set harvest_icon = 'unlock' if h.check_access('sysadmin') else 'lock'%}
    {% set harvest_title = 'This dataset has been harvested and should only be updated from the harvested source' if h.check_access('sysadmin') else 'This dataset has been harvested and can only be updated from the harvested source'%}
    <span class="label label-inverse" title="{{ harvest_title }}" >
      <i class="fa fa-{{ harvest_icon }}"></i>
      {{ harvest_text }}
    </span>
  {% endif %}

  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% set url = h.url_for('dataset.edit', id=pkg.name) %}
    {% set is_ready_for_sync = h.is_ready_for_publish(pkg) %}
    {% if is_ready_for_sync %}
      <a type="btn" class="btn" data-toggle="modal" data-target="#syncModal">
        <i class="fa fa-refresh"></i>
        {{ _('Sync') }}
      </a>

      <div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sync dataset on DataVic: {{ pkg.title }}</h4>
                </div>
                <div class="modal-body">
                    <p>Note: This will send the most recent version of this dataset to DataVic. Data records are automatically updated on DataVic when published, with only a small time delay. In rare cases there can be a connection issue at the time of publishing. this manual update should only be used if the change has not appeared on DataVic after 10 minutes.
                    </p>
                    <p>Are you sure you want to try syncing this dataset again?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                      data-module="datavic_sync_dataset"
                      data-module-action="syndicate_sync"
                      data-module-flash-error="{{ _('Dataset cannot be syndicated.') }}"
                      data-module-flash-success="{{ _('Dataset {pkg_title} is being syndicated to DataVic.').format(pkg_title=pkg.title) }}"
                      data-module-payload="{{ {'profile': 'odp', 'topic': 'update', 'id': pkg.id}|tojson|forceescape }}"
                      >Sync</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if pkg.workflow_status|lower != 'draft' %}
      <a class="btn" href="{{ url }}" data-module="datavic-confirm-link-action" data-module-content="{{ confirmation_text }}"><i class="fa fa-wrench"></i> {{ _('Edit') }}</a>
    {% else %}
      <a class="btn" href="{{ url }}"><i class="fa fa-wrench"></i> {{ _('Edit') }}</a>
    {% endif %}
  {% endif %}
{% endblock %}
