{% ckan_extends %}

{% block htmltag %}

  {% set lang = h.lang() %}

  {% if lang == 'en_AU' %}
    {% set lang = 'en-au' %}
  {% endif %}
  
  <!--[if IE 9]> <html lang="en-au" class="ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{% endblock %}

{% block head_extras %}
  {{ super() }}

  {% if h.vic_iar_get_gtm_container_id() %}
    {% snippet "snippets/gtm_include.html" %}
  {% endif %}

  {% if h.vic_iar_hotjar_tracking_enabled() %}
    {% snippet "snippets/hotjar.html" %}
  {% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'datavic_iar_theme/datavic-iar-theme-css' %}
{% endblock %}


{% block scripts %}
  {{ super() }}
  {% asset 'datavic_iar_theme/datavic-iar-theme-js' %}
{% endblock %}

{%- block htmltag -%}
  <!--[if IE 9]> <html lang="en_AU" class="ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en_AU"> <!--<![endif]-->
{%- endblock -%}
