<footer>
  <div class="rpl-site-footer">
    <div class="rpl-site-footer__main">
      <ul class="rpl-footer-nav">
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.url_for('dataset.search') }}" class="rpl-link rpl-menu__item-link">{{ _('Data') }}</a>
          </h2>
        </li>
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.url_for('home.about') }}" class="rpl-link rpl-menu__item-link">{{ _('About us') }}</a>
          </h2>
        </li>
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.vic_iar_get_parent_site_url() }}/contact-us" class="rpl-link rpl-menu__item-link">{{ _('Contact us') }}</a>
          </h2>
        </li>
      </ul>
      <div class="rpl-acknowledgement rpl-site-footer__acknowledgement">
        <img class="rpl-acknowledgement__flag" src="/assets/images/aboriginal-flag.png" alt="Aboriginal flag" />
        <img class="rpl-acknowledgement__flag" src="/assets/images/torres-strait-islander-flag.png" alt="Torres Strait Islander flag" />
        <div class="rpl-acknowledgement__text">The Victorian Government acknowledges Aboriginal and Torres Strait Islander people as the Traditional Custodians of the land and acknowledges and pays respect to their Elders, past, present and emerging.</div>
      </div>
    </div>
    <div class="rpl-site-footer__bottom">
      <div class="rpl-site-footer__bottom-main">
        <div class="rpl-links-and-copyright">
          <ul class="rpl-links-and-copyright__links"><!-- {# The comments here are intentional - to remove whitespace between inline block elements #}
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/privacy-vicgovau">Privacy</a></li><!--
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/disclaimer">Disclaimer</a></li><!--
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/copyright">Copyright</a></li><!--
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/accessibility">Accessibility</a></li><!--
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/sitemap">Sitemap</a></li><!--
            --><li><a href="{{ h.vic_iar_get_parent_site_url() }}/contact-us">Contact us</a></li><!--
          --></ul>
          <div class="rpl-links-and-copyright__copyright">© Copyright State Government of Victoria</div>
        </div>
      </div>
      <div class="rpl-site-footer__logos">
        <a href="https://vic.gov.au" target="_blank" class="rpl-link rpl-site-footer__logo">
          <img src="/vic-gov-logo.svg" alt="Victoria Government Website">
        </a>
      </div>
    </div>
  </div>
</footer>
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
